@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, svg{
    max-width: 100%;
    height: auto;
}

.App{
    background-color: var(--LightGrayishBlue);
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: "Manrope";
}

.wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: hsl(212, 23%, 69%) 0px 0px .5rem;
}
.hero{
    width: 100%;
    content: url('./images/drawers.jpg');
    object-fit: cover;
    overflow: hidden;
    height: 200px;
}

.triangleButton{
    display: block;
    z-index: 1;
    position: absolute;
    height: 0;
    width: 0;
    bottom: 85px;
    left:0;
    right: 30px;
    margin-left: auto;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	transition: border-top .2s ease;
}

.share-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: .3rem;
    font-family: inherit;
    color: hsl(212, 23%, 69%);
    transition: height .2s ease;
    height: 0;
    z-index: 2;
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    background-color: var(--VeryDarkGrayishBlue);
}

.content{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content > h1{
    color: var(--VeryDarkGrayishBlue);
}

.content > p {
    color: var(--DesaturatedDarkBlue);
}

.content-bottom{
        
    width: 100%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.content-bottom > img{

    object-fit: contain;
    border-radius: 25px;
    width: 50px;
}

.content-bottom > p {
    font-weight: 700;
    color: var(--VeryDarkGrayishBlue);
    display: flex;
    flex-direction: column;
    margin-right: auto;
 
}

.content-bottom > p > span {
    color: var(--GrayishBlue);  
    font-weight: 500;

}

.content-bottom > button{
    height: 32px;
    width: 32px;
    background-color: var(--GrayishBlue);
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

@media screen and (min-width: 800px) {

    .wrapper{
        width: 730px;
        height: 280px;
        grid-template-columns: 285px 1fr;
        grid-template-rows: 1fr;
        
        border-radius: 1rem;
        
        
    }

    .hero{
        border-radius: 1rem 0px 0px 1rem;
        object-position: -.1rem;
        height: 100%;
        overflow: hidden;
    }

    .triangleButton{
        border-top: 0px;
    }
    .triangleButton.show{
        border-top: 30px solid var(--VeryDarkGrayishBlue);
    }

    .share-buttons{
        right: -70px;
        bottom: 100px;
        width: 250px;
    }

    .share-buttons.show{
        height: 55px;
    }
    .content{


        gap: 10px;
        padding: 20px 40px;
        
    }
    
    .content>h1{
        font-size: 18px ;
    }

    .content>p{
        
        font-size: 13px;
    }

    .content-bottom{
        padding-top: 10px;
        font-size: 13px;
    }

    .content-bottom > p{
        padding-left: 1rem;
    }

    .content-bottom > img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }


    
}
@media screen and (min-width: 280px) and (max-width: 799px) {

    .wrapper{
        border-radius: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        width: 86%;
        
    }

    .hero{
        
        border-radius: 1rem 1rem 0px 0px;
    }

    .share-buttons{
        border-radius: 0px 0px 1rem 1rem;
        right: 0px;
        bottom: 0;
        width: 100%;

    }

    .share-buttons.show{
        height: 80px;
    }


    .triangleButton{
        display: none;
    }
    .content{

        gap: 24px;
        padding: 2.20rem;
        align-items: center;
    }

    .content > h1{
        font-size: 1rem;
    }

    .content > p {
        font-size: .9rem;
        padding-bottom: 14px;
    }


    .content-bottom > p{
        padding-left: .5rem;
    }
    
}